.obsidian/*
.obsidian/workspace.json
finance/Payslip_to_Print_-_Report_Design_06_12_2026 (1).pdf
.obsidian/workspace.json
.obsidian/workspace.json
finance/payslips/Payslip_to_Print_-_Report_Design_06_12_2026.pdf
finance/banking-statements/*.csv
finance/banking-statements/*.CSV
real-estate/houses/5585-NW-Peregrine-Pl-Portland-OR-97229/Comparitive-Market-Analysis-Peregrine.pdf
real-estate/houses/5585-NW-Peregrine-Pl-Portland-OR-97229/images/
